.fetch-wrapper{
    padding-top: 100 px;
}
.fetch{
    &__btn{
        transition: all 2s ease;
        padding: 10px 18px;
        background: #000000;
        border-radius: 50px;
        &--leni{
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            color: #FFFFFF;
        }
    }
}